.quiz h2 {
    font-size: 17px;
    line-height: 20px;
    font-weight: 600;
    background: linear-gradient(transparent 70%,#f7ff4e 0);
    display: inline-block;
}
.quiz li {
    display: block;
    border: 1px solid #ebebeb;
    padding: 13px;
    margin: 10px 0;
    font-weight: 600;
    cursor: pointer;
    width:500px;
    -webkit-box-shadow: 0 3px 2px -2px rgba(0,0,0,.13);
}
