.monnme{
   margin:0 auto;
   width: 50%;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 10px;
    -webkit-box-shadow: 0 3px 2px -2px rgba(0,0,0,.13);
    border:1px solid #ebebeb;   
    width:65%; 
    cursor: pointer;
    padding: 13px;
    font-weight: 600;
    

}
h2 {
    /* text-decoration: underline #87CEFA; */
    background: linear-gradient(transparent 70%, yellow 50%);
    display: inline-block;
}

img{
  display: block;    
}