html{
    min-width:300px;
    scroll-behavior: smooth;
}

body{
    margin-left: auto;
    margin-right:auto;
    /* padding:0;
    border:0; */
    max-width: 800px;
}

.monnme{
    margin: 0 auto;
    max-width: 600px;
}


.title{
    font-size:19px;
    margin:0;
    margin-bottom: 10px;
}

h2{
    font-size: large;
   background: linear-gradient(transparent 70%, yellow 50%);
    display: inline-block;
}


img{
    display: block;
    margin:0 auto;
    max-width:100%;
    width: 80vw; 
}

/* ------------------- BASE choices visuals -----------------------------*/

ul{
    list-style: none;
    padding: 0;
}

li {
    box-shadow: 0 3px 2px -2px grey;
    border: 1px solid #ebebeb;
    width: center; 
    /* height: 50px; */
    margin:10px 0;
    padding: 13px;
    font-weight: 600;
    cursor: pointer;
    /* font-size: 17px; */
}


/* -------CLICKED choices visuals--------------------------- */


/*------------------------- Button change---------------------- */
.wrongButton{
    background:#FD6647;
    color: white; 
}

.successButton{
    background: #08B3F0;
    color: white;
}

.cantclick{
    pointer-events: none;
}

/* ------------------------ answer reveal --------------------- */

.answerBox{
    box-shadow: 0 3px 2px -2px grey;
    border:3px solid #ebebeb;
    width: center; 
    margin:0;
    padding: 10px;
}


#seikai{
    font-weight: 600;
}

.successBar{
    background: linear-gradient(transparent 70%,#08B3F0 50%);
    display: inline-block;
}

.wrongBar{
    background: linear-gradient(transparent 70%,#FD6647 50%);
    display: inline-block;
}


.seikai{
    margin-bottom: 10px;
    margin-top:0;
    font-weight: 600;
    /* background: linear-gradient(transparent 70%,#FD6647 50%); */
    display: inline-block;
    padding: 0;
}

.bottommargin{
    margin-bottom: 1000px;
}